body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    shape-rendering: crispEdges;
}

a {
    text-decoration:none;
    color: black;
    border-bottom:solid 1px
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

br {
    text-indent:10px;
}

img {
    padding:10px;
}