body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    shape-rendering: crispEdges;
}

.h1 {
    text-align:center;
}
.h2 {
    text-align:center;
}